*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #CEEBEB;
    align-items: center;
    
  
}

h1{
    padding-top: 10vh;
    text-align: center;
    color: #06d6a0;
    font-size: 3rem;
}
#toDoList{
    height: 50vh;
    width: 50vh;
    text-align: center;
    margin-top: 8vh;   
   margin-left: 65vh;
}



#form{
    height: 2rem;
    width: 15rem;
    border: none;
    margin-left:1rem ;
    border-radius: 10px ;
}

#form  placeholder{
    margin-left:1rem ;
}

#addTask{
    margin-left: 0%;
    height: 2rem;
    width: 6rem;
    border-radius:12px ;
    background-color: #80ed99;
    color: rgb(138, 87, 87);
    border: none;
    cursor: pointer;
}

#addTask:hover{
    background-color: #8ac926;
    color: black;
}

.msg-container{
    height: 25vh;
    width: 40vh;
    text-align: center;
    margin: 5vh 0 0 5vh;
    gap: 1rem;
}

.gap{
    background-color: white;
    width: 100vh;
    margin-top: 0.5rem;
    height: 2rem;
    border-radius: 5rem;
}

#content1,#content2,#content3,#content4,#content5,#content6,#content7,#content8{
    display: flex;
    align-items: center;

}

#remove1,#remove2,#remove3,#remove4,#remove5,#remove6,#remove7,#remove8{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 5rem;
    background-color: red;
    color: black;
    height: 2rem;
    width: 15rem;
    cursor: pointer;
}

.remove:hover{
    opacity: 0.8;
    cursor: pointer;
}




